.listWidth {
    padding: 15px;
    max-width: 315px;
    min-width: 315px;
    text-align: center;
}

.loadingError {
    color: red
}

.playerCard {
    padding: 8px;
    margin: 5px;
    background-color: darkseagreen;
    display:inline-block;

}
