.eventLogs {
    padding: 10px 10px 10px 10px;
    margin: 25px 10px 10px 10px;
    min-width: 200px;
    min-height: 400px;
    max-height: 400px;
    background-color: white;
    overflow: auto;
    border: 1px black;
}

.eventLogs p {
    text-align: left;
}