.starting {
    margin: 3rem auto;
    text-align: center;
  }
  
.starting h1 {
    font-size: 5rem;
}

.registeredPlayersHeader {
    background-color: cornflowerblue;
}

.mainContainer {
    max-width: 1200px;
    border: 1px black;
    background-color: whitesmoke;
}

